			::-webkit-scrollbar {
				width: 0px;
				background: transparent; /* make scrollbar transparent */
			}
			body {
				margin: 0;
			}
			.formBtn {
				background-color: #758ab6;
				padding: 10px 14px;
				outline: none;
				border: none;
				font-size: 18px;
				font-family: "Times New Roman";
				color: #FFFFFF;
			}
			.formSubmit {
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.formBtn:hover {
				background-color: #627aac;
				color: #000000;
			}
			
			.formInputField {
				background-color: #FFFFFF;
				outline: none;
				margin-left: 10px;
				margin-right: 10px;
				border-radius: 5px;
				border: none;
				font-family: "Times New Roman";
				text-align: center;
				border-radius: 0;
			}
			.formInputField:hover {
			}
			.formContainer {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				min-height: 60vh;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
			.formStyle {
				background-color: #3b5998;
				border-radius: 10px;
				color: #FFFFFF;
				font-family: "Times New Roman";
			}
			.appTitle {
				text-align: center;
				text-shadow: 2px 2px #ffcc99;
				font-family: "Courier New";
				font-size: 60px;
				margin-top: 20px;
			}
			.formTitle {
				font-size: 25px;
				margin-top: 14px;
				margin-left: 20px;
				margin-bottom: 5px;
				margin-right: 386px;
			}
			.footer {
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
			    background-color: #3b5998;
			    color: #FFFFFF;
			    text-align: center;
				padding-top: 10px;
				padding-bottom: 10px;
			}